DB_HOST=endereco_do_seu_banco_de_dados
DB_PORT=porta_do_seu_banco_de_dados
DB_USER=usuario_do_seu_banco_de_dados
DB_PASSWORD=password_do_seu_banco_de_dados
DB_NAME=nome_do_seu_banco_de_dados
PORT=porta_em_que_o_servidor_deve_rodar
